@font-face {
  font-family: "iran-yekan-bold";
  src: url("../public/fonts/IRANYekanXFaNum-Bold.woff2") format("woff2"),
    url("../public/fonts/IRANYekanXFaNum-Bold.woff") format("woff");
}
/* latin */
@font-face {
  font-family: "iran-yekan";
  src: url("../public/fonts/IRANYekanXFaNum-Regular.woff2") format("woff2"),
    url("../public/fonts/IRANYekanXFaNum-Regular.woff") format("woff");
}
