@font-face {
  font-family: "iran-yekan-regular";
  src: url(../assets/fonts/IRANYekanXFaNum-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "iran-yekan-bold";
  src: url(../assets/fonts/IRANYekanXFaNum-Bold.ttf);
}